name: Refresh GH environments NuGet cache

env:
  VCPKG_BINARY_SOURCES: "clear;nuget,GitHub,readwrite"

on:
  push:
    branches:
      - "eclide-9.4.x"
      - "eclide-10.0.x"

  workflow_call:
    inputs:
      branch:
        description: "The branch to build"
        required: true
        type: string

  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        label:
          [
            "windows-2025-x86",
            "windows-2022-x86"
          ]
        include:
          - label: "windows-2025-x86"
            os: "windows-2025"
            triplet: "x86-windows"
          - label: "windows-2022-x86"
            os: "windows-2022"
            triplet: "x86-windows"
      fail-fast: false

    name: "GH Environment - ${{ matrix.label }}"
    runs-on: ${{ matrix.os }}
    steps:

      - name: Check out source code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ inputs.branch || github.ref }}

      - name: "Bootstrap vcpkg"
        working-directory: .
        shell: "bash"
        run: |
          ./bootstrap-vcpkg.sh

      - name: "Setup NuGet Credentials"
        working-directory: .
        shell: "bash"
        run: |
          `./vcpkg fetch nuget | tail -n 1` \
            sources add \
            -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" \
            -storepasswordincleartext \
            -name "GitHub" \
            -username "${{ github.repository_owner }}" \
            -password "${{ secrets.GITHUB_TOKEN }}"
          `./vcpkg fetch nuget | tail -n 1` \
            setapikey "${{ secrets.GITHUB_TOKEN }}" \
            -source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

      - name: "Update nuget (overlays)"
        working-directory: .
        shell: "bash"
        run: |
          ./vcpkg install \
            --x-abi-tools-use-exact-versions \
            --host-triplet=${{ matrix.triplet }} \
            --triplet=${{ matrix.triplet }}

      - name: Upload error logs
        if: ${{ failure() || cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-logs
          path: ./**/*.log
