name: prebuild

env:
  VCPKG_BINARY_SOURCES: "clear;nuget,GitHub,readwrite"

on:
  push:
    branches:
      - "main"

  schedule:
    - cron: "0 8 * * *"

  workflow_dispatch:
    inputs:
      branch:
        type: choice
        options:
          - 'hpcc-platform-10.4.x'
          - 'hpcc-platform-10.0.x'
          - 'hpcc-platform-9.14.x'
          - 'hpcc-platform-9.12.x'
        description: 'Branch to build'
        required: true
        default: 'hpcc-platform-10.0.x'
      os:
        type: choice
        options:
          - 'ubuntu-24.04'
          - 'ubuntu-22.04'
          - 'ubuntu-20.04'
          - 'rockylinux-8'
          - 'centos-8'
          - "windows-2019-x64"
          - "windows-2019-x86"
          - "windows-2022-x64"
          - "windows-2022-x86"
          - "macos-12-x64"
          - "macos-13-x64"
        description: 'Operating System'
        required: true
        default: 'rockylinux-8'

      nuget_mode:
        type: choice
        options:
          - 'read'
          - 'write'
          - 'readwrite'
        description: 'NuGet mode'
        required: true
        default: 'write'

jobs:
  prebuild-docker-10-4:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-10.4.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-docker.yml@hpcc-platform-10.4.x
    with:
      branch: refs/heads/hpcc-platform-10.4.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-gh_envs-10-4:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-10.4.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-gh_envs.yml@hpcc-platform-10.4.x
    with:
      branch: refs/heads/hpcc-platform-10.4.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-docker-10-0:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-10.0.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-docker.yml@hpcc-platform-10.0.x
    with:
      branch: refs/heads/hpcc-platform-10.0.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-gh_envs-10-0:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-10.0.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-gh_envs.yml@hpcc-platform-10.0.x
    with:
      branch: refs/heads/hpcc-platform-10.0.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-docker-9-14:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-9.14.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-docker.yml@hpcc-platform-9.14.x
    with:
      branch: refs/heads/hpcc-platform-9.14.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-gh_envs-9-14:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-9.14.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-gh_envs.yml@hpcc-platform-9.14.x
    with:
      branch: refs/heads/hpcc-platform-9.14.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-docker-9-12:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-9.12.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-docker.yml@hpcc-platform-9.12.x
    with:
      branch: refs/heads/hpcc-platform-9.12.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit

  prebuild-gh_envs-9-12:
    if: ${{ !contains('workflow_dispatch', github.event_name) || inputs.branch == 'hpcc-platform-9.12.x' }}
    uses: hpcc-systems/vcpkg/.github/workflows/prebuild-gh_envs.yml@hpcc-platform-9.12.x
    with:
      branch: refs/heads/hpcc-platform-9.12.x
      # os: ${{ inputs.os }}
      # nuget_mode: ${{ inputs.nuget_mode }}
    secrets: inherit
